# Autotools
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
missing
mkinstalldirs
Makefile.in
stamp-h1

# Build artifacts
*.o
*.lo
*.la
*.slo
.deps

# Executables
leafpad

# Log files
app_test.log
xvfb.log

# Screenshots
screenshot.png
screenshot.xwd

# Editor backups
*~
